body {
  background: #FAFAFA;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  width: 100%;
  margin: 50px 0;
  display: flex;
  background: #fff;
  height: 120px;
}

ul {
  padding: 0;
}

ul#menu-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 130px 0 0;
  // padding: 0 30px;
}

ul#menu-items > li {
  padding: 0 10px;
  margin: auto 0;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  font-weight: 100;
  color: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

select {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100px;
  background: #fff;
}

#more {
  background: #fff;
  position: absolute;
  top: 69px;
  right: -92px;
  width: 200px;
  border: 1px solid #BABBBB;
  border-radius: 4px;
  -webkit-box-shadow: -4px 40px 79px 10px rgba(0,0,0,0.72);
  -moz-box-shadow: -4px 40px 79px 10px rgba(0,0,0,0.72);
  box-shadow: -4px 40px 79px 10px rgba(0,0,0,0.72);
}

@media only screen and (max-width: 920px) {
  #menu-items:hover #more {
    display: block;
  }
}

#more li {
  float: left;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #DBDBDB;
  padding: 10px 20px;
}

.hidden {
  display: none;
}